
.button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    width: 24px;
}

.pinsta-home{

}

.pinsta-create{

}
