*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFFFFF;
}
a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }
.button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    width: 24px;
}

.i{
    font-size: 1.5rem;
    margin: 2rem;
}

.Pinsta-Logo{
  margin: 2rem;
}

.Plus-sign{
    margin: 1rem;
}


.search-bar{
    margin: auto;
}

.Noti-sign{
    margin-left: auto;

}

.pinsta-notify{
    margin: 1rem 1rem;
}

.pinsta-chat{
    margin: 1rem 1rem;
}

.pinsta-menu{
    margin: 2rem 1rem;

}